.formFather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}


.submitButton {
  background-color: #429BF5;
  margin-top: 50px;
  padding: 10px;
  width: 150px;
  border: none;
  font-size: large;
  color: #fff;
  border-radius: 8px;
}


.submitButton:disabled {
  background-color: #ccc;
}

.separatorFather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}