.header {
  background-color: #429BF5;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
